{{ define "landing-header" }}
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <h2><a href="/">Gear<span class="text-primary">berg</span></a></h2>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="https://github.com/bit8bytes/gearberg" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    </ul>
  </div>
</div>
{{ end }}
