{{ define "title" }}Error{{ end }}
{{ define "description" }}Something went wrong. Please try again later.{{ end }}

{{ define "page" }}
<div class="text-center">
  <h1>Error</h1>
  <p>Something went wrong. Please try again later.</p>
  <br>
  <a href="/" class="btn btn-primary">Go to Home</a>
</div>
{{ end }}