{{ define "root" }}
<!DOCTYPE html>
<html 
  lang="{{ block "lang" . }}en{{ end }}" 
  data-theme="gearberg"
  >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" . }}Gearberg{{ end }} - Gearberg</title>
    <meta
      name="description"
      content="{{ block "description" . }}Equipment and Rental.{{ end }}"
      />
    <link rel="icon" type="image/x-icon" href="/dist/images/favicon.ico" />
    {{ template "scripts" . }}
    {{ template "styles" . }}
  </head>
  <body class="min-h-screen flex flex-col">
    {{ template "body" . }}
  </body>
</html>
{{ end }}