{{ define "scripts" }}
<script type="module" src="/dist/components.js{{ if .Revision }}?revision={{ .Revision }}{{end}}" nonce="{{ .Nonce }}"></script>
<script src="/dist/index.js{{ if .Revision }}?revision={{ .Revision }}{{end}}" nonce="{{ .Nonce }}" defer></script>
<script src="/dist/htmx.min.js{{ if .Revision }}?revision={{ .Revision }}{{end}}" nonce="{{ .Nonce }}"></script>
{{ end }}