{{ define "styles" }}
<link rel="preload" href="/dist/SpaceMono-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/dist/Caveat-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="stylesheet" href="/dist/index.css{{ if .Revision }}?revision={{ .Revision }}{{end}}" nonce="{{ .Nonce }}" />
{{ end }}