{{ define "org-currency" }}
{{ if .Data.Currency }}<span class="opacity-50 w-6">{{ .Data.Currency }}</span>{{ end }}
{{ end }}

{{ define "org-currency-skeleton" }}
<div class="skeleton h-4 w-6 rounded-sm"></div>
{{ end }}