{{ define "styles" }}
<link rel="preload" href="/dist/Caveat-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<link rel="stylesheet" href="/dist/index.css" nonce="{{ .Nonce }}" />
{{ end }}