{{ define "docs-sidebar" }}
<ul class="menu w-full">
  <li class="menu-title">Getting Started</li>
  <li><a href="#prerequisites">Prerequisites</a></li>
  <li><a href="#quick-start">Quick Start</a></li>
  
  <li class="menu-title mt-4">Deployment</li>
  <li><a href="#docker">Docker</a></li>
  <li><a href="#docker-compose">Docker Compose</a></li>
  <li><a href="#raspberry-pi">Raspberry Pi</a></li>

  <li class="menu-title mt-4">Configuration</li>
  <li><a href="#configuration">Overview</a></li>
  <li><a href="#oidc-sso">OIDC</a></li>
  <li><a href="#smtp">SMTP</a></li>

  <li class="menu-title mt-4">Reference</li>
  <li><a href="#flags-env-vars">All Flags &amp; Env Vars</a></li>
</ul>
{{ end }}