{{ define "header" }}
<header>
  <div class="navbar">
    <div class="max-w-6xl mx-auto px-4 w-full flex flex-row items-center">
      <div class="flex-1 flex flex-row items-center gap-6">
        {{ template "logo-with-text" . }}
        <ul class="">
          <li><a class="btn btn-ghost hidden md:flex {{ if inPath $.URL.Path (printf "/orgs/%v/equipment" .OrgID) }}text-primary{{ end }}" href="/orgs/{{ .OrgID }}/equipment">Equipment</a></li>
        </ul>
      </div>
      <div class="flex gap-2">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar avatar-placeholder">
            <div class="bg-primary text-primary-content w-24 rounded-full">
              <span>gb</span>
            </div>
          </div>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-64 p-2 gap-1 shadow">
            <span hx-get="/account/header?org_id={{ .OrgID }}" hx-trigger="load" hx-swap="outerHTML">
              {{ template "account-header-skeleton" . }}
            </span>
            <div class="border-b border-base-200"></div>
            <li>
              <a href="/orgs/{{ .OrgID }}/equipment" class="{{ if inPath $.URL.Path (printf "/orgs/%v/equipment" .OrgID) }}text-primary{{ end }}">
                <span class="size-6">{{ template "equipment-icon" . }}</span>
                Equipment
              </a>
            </li>
            <li>
              <a href="/settings/organizations" class="{{ if eq $.URL.Path "/settings/organizations" }}text-primary{{ end }}">
                <span class="size-6">{{ template "orgs-icon" . }}</span>
                Organizations
              </a>
            </li>
            <div class="border-b border-base-200"></div>
            <li>
              <a href="/settings/account" class="{{ if inPath $.URL.Path "/settings" }}text-primary{{ end }}">
                <span class="size-6">{{ template "settings-icon" . }}</span>
                Settings
              </a>
            </li>
            <div class="border-b border-base-200"></div>
            <li>
              <button class="w-full" hx-post="/signout">
                <span class="size-6">{{ template "logout-icon" . }}</span>
                Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
{{ end }}
