{{ define "landing-footer" }}
<footer class="footer footer-horizontal footer-center bg-base-300 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a href="mailto:gearberg@bit8bytes.com" class="link link-hover">Contact</a>
    <a href="/imprint" class="link link-hover">Imprint</a>
    <a href="/privacy" class="link link-hover">Privacy Policy</a>
    <a href="https://github.com/bit8bytes/gearberg" target="_blank" rel="noopener noreferrer" class="link link-hover">GitHub</a>
  </nav>
  <aside>
    <p>Copyright &copy; {{ .Year }} Gearberg by <a href="https://github.com/bit8bytes" class="link" target="_blank" rel="noopener noreferrer">bit8bytes</a> &mdash; Licensed under <a href="https://github.com/bit8bytes/gearberg" class="link" target="_blank" rel="noopener noreferrer">AGPL v3</a></p>
  </aside>
</footer>
{{ end }}
