{{ define "landing-header" }}
<div class="navbar">
  <div class="flex-1">
      {{ template "logo-with-text" . }}
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li>
        <a 
          href="https://docs.gearberg.org" 
          class="btn btn-sm btn-square sm:btn-md tooltip tooltip-left" 
          aria-label="Documentation" 
          target="_blank" 
          rel="noopener noreferrer"
          data-tip="Go to Gearberg Docs">
        {{ template "docs-icon" . }}
        </a>
      </li>
      <li>
        <a href="https://github.com/bit8bytes/gearberg" class="btn btn-square btn-sm sm:btn-md" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
        {{ template "github-icon" . }}
        </a>
      </li>
      <li>
        <form id="locale-form" method="POST" action="/locale">
          <select name="locale" class="select select-sm select-bordered">
            <option value="en-US" {{ if eq .Locale "en-US" }}selected{{ end }}>EN</option>
            <option value="de" {{ if eq .Locale "de" }}selected{{ end }}>DE</option>
          </select>
        </form>
      </li>
    </ul>
  </div>
</div>
<script nonce="{{ .Nonce }}">
  document.querySelector('#locale-form select').addEventListener('change', function() {
    this.form.submit();
  });
</script>
{{ end }}
