{{ define "landing-header" }}
<div class="navbar bg-gray-950 shadow-sm">
  <div class="flex-1">
    <h2><a href="/" class="text-base-100">Gear<span class="text-primary">berg</span></a></h2>
  </div>
  <div class="flex-none text-secondary-content">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li><a href="https://demo.gearberg.org" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Try Demo</a></li>
      <li><a href="https://github.com/bit8bytes/gearberg" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    </ul>
  </div>
</div>
{{ end }}
