{{ define "title" }}{{ if .Data.Item }}{{ .Data.Item.Name }}{{ end }}{{ end }}

{{ define "page" }}
<div class="flex-1 max-w-xs mx-auto mt-8">
  <div class="flex items-center justify-between mb-6">
    <h1 class="">Edit</h1>
    <a href="/companies/{{ .Data.CompanyID }}/inventory" class="btn">Back</a>
  </div>

  <form method="POST" class="mt-4 flex flex-col gap-4" novalidate>

    <div class="flex flex-col gap-1">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        value="{{ if .Form.Name }}{{ .Form.Name }}{{ else if .Data.Item }}{{ .Data.Item.Name }}{{ end }}"
        maxlength="200"
        class="input"
      />
      {{ with index .Form.Errors "name" }}
        <p class="text-red-500 text-sm">{{ . }}</p>
      {{ end }}
    </div>

    <div class="flex flex-col gap-1">
      <label for="category_id">Category</label>
      <select id="category_id" name="category_id" class="select">
        <option value="">Select a category</option>
        {{ range .Data.Categories }}
          <option value="{{ .ID }}"
            {{ if $.Form.CategoryID }}
              {{ if eq $.Form.CategoryID .ID }}selected{{ end }}
            {{ else if $.Data.Item }}
              {{ if eq $.Data.Item.CategoryID .ID }}selected{{ end }}
            {{ end }}
          >{{ .Name }}</option>
        {{ end }}
      </select>
      {{ with index .Form.Errors "category_id" }}
        <p class="text-red-500 text-sm">{{ . }}</p>
      {{ end }}
    </div>

    <div class="flex flex-col gap-1">
      <label for="total_stock">Total Stock</label>
      <input
        id="total_stock"
        type="number"
        name="total_stock"
        value="{{ if .Form.TotalStock }}{{ .Form.TotalStock }}{{ else if .Data.Item }}{{ .Data.Item.TotalStock }}{{ end }}"
        min="1"
        class="input"
      />
      {{ with index .Form.Errors "total_stock" }}
        <p class="text-red-500 text-sm">{{ . }}</p>
      {{ end }}
    </div>

    <div class="flex flex-col gap-1">
      <label for="notes">Notes</label>
      <textarea
        id="notes"
        name="notes"
        class="textarea"
        rows="3"
      >{{ if .Form.Notes }}{{ .Form.Notes }}{{ else if .Data.Item }}{{ .Data.Item.Notes }}{{ end }}</textarea>
    </div>

    <div class="flex gap-2">
      <button type="submit" formaction="/companies/{{ .Data.CompanyID }}/inventory/{{ .Data.ID }}" class="btn btn-primary">Save</button>
      <button formaction="/companies/{{ .Data.CompanyID }}/inventory/{{ .Data.ID }}/delete" type="submit" class="btn btn-error btn-outline">Delete</button>
    </div>

  </form>
</div>
{{ end }}
